/recentf
geiser-history*
helm-adaptive-history
/elpa*
custom.el
*elc
.DS_Store
loaddefs.el*
backups/*
auto-save-list
places
url/cookies
session*
tramp
projectile-bookmarks.eld
\#*
history
.session
*~
ac-comphist.dat
/url
private.el
.org*
/undohist
/srecode-map.el
/semanticdb
/saveplace
/.emacs.desktop
/.emacs.desktop.lock
/abbrev_defs
/swank
/ede-projects.el
/.smex-items
/eshell
/request
